// Solid Colors ---------------
$white: #ffffff;
$black: #000;

// Grey Colors ---------------
$theme-color-2:#FFB013;

// Grey-2Colors ---------------
$theme-color-2-2:#A2A2A2;

$primary: #9200AD;
$secondary: #FF5D5E;

// Footer Colors ---------------
$footer-bg: #000;


// basic color
$theme-color: #9200AD;



// basic color
$theme-bg: #F6F8FB;



// Text Colors ---------------
$body-text: #575757;
$modules-text: #374161;
$description-text: #6474A6;


// Border Colors ---------------
$border:#edeef2;
$border2: #DEE2E6;

// Heading Colors ---------------
$heading-color: #141517;


// section-bg Colors ---------------
$section-bg: #F6F8FB;