#grid-searchbar {
    grid-template-areas: 
      "search"
      "showing";
    
    /* .grid-area-showing {
      grid-area: showing;
    }
  
    .grid-area-filter {
      grid-area: filter;
    }
  
    .grid-area-search {
      grid-area: search;
    } */
  
    // Media Query para tamaño md (mínimo 768px)
    @media (min-width: 768px) {
      grid-template-areas: 
        "filter search"
        "showing showing";
    }
  
    // Media Query para tamaño lg (mínimo 992px)
    @media (min-width: 992px) {
      grid-template-areas: 
        "filter search showing"
        "showing showing showing";
    }
  
    // Media Query para tamaño xl (mínimo 1200px)
    @media (min-width: 1200px) {
      grid-template-areas: 
        "filter search showing showing";
    }
  }
  