// Solid Colors ---------------
$white: #ffffff;
$black: #000;

// Grey Colors ---------------
$theme-color-2: #ffb013;

// Grey-2Colors ---------------
$theme-color-2-2: #a2a2a2;

$primary: #9200ad;
$secondary: #ff5d5e;

// Footer Colors ---------------
$footer-bg: #000;

// basic color
$theme-color: #9200ad;

// basic color
$theme-bg: #f6f8fb;

// Text Colors ---------------
$body-text: #575757;
$modules-text: #374161;
$description-text: #6474a6;

// Border Colors ---------------
$border: #edeef2;
$border2: #dee2e6;

// Heading Colors ---------------
$heading-color: #141517;
$heading-color2: #392c35;

// section-bg Colors ---------------
$section-bg: #f6f8fb;
