/*----------

26. contact style

----------*/

@use "../abstract" as *;

// contact-style
.contact-area {
  display: flex;
  width: 100%;
}

.contact-form {
  width: 100%;

  .contact-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    input {
      border-radius: 2px;
    }
  }

  .section-title {
    .preferences {
      align-items: end;

      p,
      label {
        color: $description-text;
        font-size: 1rem;
      }
    }
  }
}

#submit-newsletter:not(:disabled) {
  background-color: #9200ad;
}

.contact-from-input input {
  height: 60px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  outline: 0;

  &::placeholder {
    font-size: 16px;
  }
}

.contact-from-input textarea {
  height: 170px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  resize: none;
  outline: 0;

  &::placeholder {
    font-size: 16px;
  }
}

.support-item {
  &:last-child {
    margin-bottom: 0;
  }

  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;

  @media #{$xs} {
    gap: 12px;
  }
}

.support-contact {
  padding: 25px 30px 25px 30px;
  background: #f8f8f9;
  border-radius: 5px;
  border: 1px solid #f8f8f9;

  @media #{$xs} {
    padding: 25px 20px 25px 20px;
  }
}
.contact-mt-sidebar {
  margin-top: 105px;
}

.support-tittle {
  h4 {
    margin-bottom: 30px;
  }
}

.support-info-phone {
  span {
    font-size: 18px;
    font-weight: 500;
    color: $heading-color;
    display: block;
  }

  p {
    margin-bottom: 3px;

    a {
      color: $heading-color;
      font-weight: 700;
    }
  }
}

.support-info-whatsapp {
  span {
    font-size: 18px;
    font-weight: 500;
    color: $heading-color;
    display: block;
  }
}

.support-info-whatsapp {
  a {
    margin-bottom: 2px;
    display: block;
  }
}

.support-info-email {
  span {
    font-size: 18px;
    font-weight: 500;
    color: $heading-color;
    display: block;
  }
}

// nice-select
.contact-select .nice-select {
  height: 60px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  padding: 15px 20px;
  line-height: 30px;

  span {
    font-size: 14px;
    color: $body-text;
  }

  &:after {
    width: 7px;
    height: 7px;
    right: 20px;
  }
}

.contact-select .nice-select .list {
  width: 100%;
  background-color: #f8f8f9;
}

.contact-map iframe {
  height: 380px;
  width: 100%;
  border-radius: 4px;
}

.error {
  color: red;
  text-align: right;
  margin-top: 2px;
}
