/*----------

26. contact style

----------*/

@use "../abstract" as *;

// contact-style
.contact-area {
  display: flex;
  width: 100%;
}

.interest-topics {
  display: flex;
  align-items: center;
  font-size: 14px;
  span {
    margin-left: 8px;
    color: rgb(75 85 99);
  }
  input {
    border-radius: 2px;
    &:checked {
      background-color: #9200ad;
    }
  }
}

.contact-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  input {
    border-radius: 2px;
    &:checked {
      background-color: #9200ad;
    }
  }
}
.contact-form {
  width: 100%;

  .section-title {
    .preferences {
      align-items: end;

      p,
      label {
        color: $description-text;
        font-size: 1rem;
      }
    }
  }
}

#submit-newsletter:not(:disabled) {
  background-color: #9200ad;
}

.contact-select {
  display: flex;
  flex-direction: column;
  select {
    order: 0;
  }
  .error {
    order: 1;
    color: red;
    text-align: left;
    margin-top: 2px;
    & + select {
      border: 1px solid red;
    }
  }
}

.form-phone-std {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  .error {
    order: 1;
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 2px;
    & + .phone-wrapper {
      border: 1px solid red;
    }
  }
  .phone-wrapper {
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    input {
      border: none;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 0 4px 4px 0;
      &:focus {
        border: 1px solid rgba(146, 0, 173, 0.1);
      }
    }
  }
}
.form-select-std {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  .error {
    order: 1;
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 2px;
    & + select {
      border: 1px solid red;
    }
  }
  select {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    &:focus {
      border: 1px solid rgba(146, 0, 173, 0.1);
    }
  }
}
.form-input-std {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  input {
    border-radius: 4px;
    border: 1px solid rgb(229, 229, 229);
    font-size: 14px;
    padding: 10px 12px;
    background-color: rgb(255, 255, 255);
    &:focus {
      border: 1px solid rgba(146, 0, 173, 0.1);
    }
  }
  textarea{
    border-radius: 4px;
    border: 1px solid rgb(229, 229, 229);
    &:focus {
      border: 1px solid rgba(146, 0, 173, 0.1);
    }
  }
  .error {
    order: 1;
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 2px;
    & + input {
      border: 1px solid red;
    }
  }
}
.form-input-std {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  input {
    border-radius: 4px;
    border: 1px solid rgb(229, 229, 229);
    font-size: 14px;
    padding: 10px 12px;
    background-color: rgb(255, 255, 255);
    &:focus {
      border: 1px solid rgba(146, 0, 173, 0.1);
    }
  }
  .error {
    order: 1;
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 2px;
    & + input {
      border: 1px solid red;
    }
  }
}

.contact-checkbox,
.contact-array-list {
  display: flex;
  flex-direction: column;
  .error {
    order: 1;
    color: red;
    text-align: left;
    margin-top: 2px;
    & + input {
      border: 1px solid red;
    }
    & + textarea {
      border: 1px solid red;
    }
    & + .PhoneInput {
      border: 1px solid red;
      border-radius: 4px;
    }
  }
}
.contact-from-input {
  display: flex;
  flex-direction: column;
  input {
    order: 0;
  }
  .error {
    order: 1;
    color: red;
    text-align: left;
    margin-top: 2px;
    & + input {
      border: 1px solid red;
    }
    & + textarea {
      border: 1px solid red;
    }
    & + .PhoneInput {
      border: 1px solid red;
      border-radius: 4px;
    }
  }
}

.signup-checkbox {
  margin-left: auto;
  margin-right: auto;
}

.contact-from-input input {
  height: 60px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  outline: 0;

  &::placeholder {
    font-size: 16px;
  }
}

.contact-from-input textarea {
  height: 170px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  resize: none;
  outline: 0;

  &::placeholder {
    font-size: 16px;
  }
}

.support-item {
  &:last-child {
    margin-bottom: 0;
  }

  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;

  @media #{$xs} {
    gap: 12px;
  }
}

.support-contact {
  padding: 25px 30px 25px 30px;
  background: #f8f8f9;
  border-radius: 5px;
  border: 1px solid #f8f8f9;

  @media #{$xs} {
    padding: 25px 20px 25px 20px;
  }
}
.contact-mt-sidebar {
  margin-top: 105px;
}

.support-tittle {
  h4 {
    margin-bottom: 30px;
  }
}

.support-info-phone {
  span {
    font-size: 18px;
    font-weight: 500;
    color: $heading-color;
    display: block;
  }

  p {
    margin-bottom: 3px;

    a {
      color: $heading-color;
      font-weight: 700;
    }
  }
}

.support-info-whatsapp {
  span {
    font-size: 18px;
    font-weight: 500;
    color: $heading-color;
    display: block;
  }
}

.support-info-whatsapp {
  a {
    margin-bottom: 2px;
    display: block;
  }
}

.support-info-email {
  span {
    font-size: 18px;
    font-weight: 500;
    color: $heading-color;
    display: block;
  }
}

// nice-select
.contact-select .nice-select {
  height: 60px;
  width: 100%;
  background: #f8f8f9;
  border: none;
  padding: 15px 20px;
  line-height: 30px;

  span {
    font-size: 14px;
    color: $body-text;
  }

  &:after {
    width: 7px;
    height: 7px;
    right: 20px;
  }
}

.contact-select .nice-select .list {
  width: 100%;
  background-color: #f8f8f9;
}

.contact-map iframe {
  height: 380px;
  width: 100%;
  border-radius: 4px;
}
