@use "../abstract" as *;

.thank-you-wrp{
	.thank-you-title{
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		text-align: center;
		color: $heading-color2;
	}
	.subheading{
		font-size: 20px;
		margin-top: 15px;
	}

	p.description{
		color: $description-text;
	}

	button.discover{
		width: 90%;
		margin: 20px auto 0 auto;
		display: block;
	}
}
