.themes-to-see {
  padding-left: 0 !important;
  overflow-wrap: break-word;
}
.excerpt-container {
  padding-left: 36px;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  .excerpt-divider {
    width: 8px;
    border-radius: 2px;
    background: #ff5d5e;
  }
}

.featured-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f3f4f6;
  padding: 4px;
  border-radius: 10px;
  img {
    margin: 16px;
  }
}
