.course-update {
  background: linear-gradient(267.82deg, #FF5D5E 45.08%, #882526 119.76%);
  height: 300px;
  display: flex;
  align-items: center;
  gap: 24px;
  .info-wrapper {
    flex-grow: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    h3 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    ul {
      li {
        position: relative;
        white-space: nowrap;
        margin-left: 16px;
        &:before {
          content: "•";
          left: -16px;
          position: absolute;
          font-size: 24px;
        }
        &:after {
          margin-left: 30px;
        }
      }
    }
  }
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: relative;
    height: 100%;
    img {
      position: absolute;
      top: -50px;
      left: 100px;
      z-index: 0;
    }
  }
}

.swiper-pagination-bullet-active {
  background: white;
}