.mission-image {
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.msk-logo-text {
  .img-container {
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
